// app global css in SCSS form
@import url('https://use.typekit.net/sxm0edf.css');
@import url('https://use.typekit.net/sxm0edf.css');
h1 {
  color:#403D3D;
  font-family: komet-sc,sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

p {
  font-family: proxima-soft,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: #4F4C4C;
}
